<div class="container">
  <div class="row">
    <div class="col-sm altera-fontes col-md-8">
      Transportadoras | <u>...</u>
    </div>
      <div class="col-sm col-md-4 alinha-botao">
        <button [routerLink]="['/cadastro']" type="button" class="btn btn-success altera-fontes-bt">Cadastre sua transportadora</button>
      </div>
    </div>
    <hr class="linha"/>
  <div class="row">
    <div class="col-sm col-md-4"> 
        <input name="searchTudo" #search type="search" id="search" value="" class="form-control" placeholder="Nome"
            (keyup)="onSearch(search.value)" title="Digite para buscar na tabela">
    </div> 
    <div class="col-sm col-md-8">
      <div class="col-sm" *ngFor="let transportadora of transportadoras">
          <div class="row bordas-div altera-fontes-label">
            <div class="col-sm-4">
              <a [routerLink]="['/cadastro', transportadora.id]">
                {{transportadora.nome}}
              </a><br>
              {{transportadora.empresa}}
            </div>
            <div class="col-sm-4">
              {{transportadora.telefone}}   {{transportadora.celular}}
              {{transportadora.email}}
            </div>
            <div class="col-sm-4">
              Fale agora: {{transportadora.whatsapp}}
            </div>
          </div>
          <br>
      </div>
    </div> 
  </div>
</div>