<title>Cadastro</title>
<form class="form">
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <label class="control-label" for="email">E-mail:</label>
          <input #email type="email" required [(ngModel)]="transportadora.email" class="form-control" name="email" id="email">
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="nome">Nome:</label>
            <input #nome type="text" required [(ngModel)]="transportadora.nome" class="form-control" name="nome" id="nome">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="empresa">Empresa:</label>
            <input #empresa type="text" required [textMask]="{mask: cnpjMascara, placeholderChar: '\u2000', guide: false }" [(ngModel)]="transportadora.empresa" class="form-control" name="empresa" id="empresa">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="telefone">Telefone:</label>
            <input #telefone type="text" required [textMask]="{mask: telefoneMascara, placeholderChar: '\u2000', guide: false }" [(ngModel)]="transportadora.telefone" class="form-control" name="telefone" id="telefone">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="celular">Celular:</label>
            <input #celular type="text" [textMask]="{mask: celularMascara, placeholderChar: '\u2000', guide: false }" [(ngModel)]="transportadora.celular" class="form-control" name="celular" id="celular">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="telefone">Whatsapp:</label>
            <input #whatsapp type="text" [textMask]="{mask: celularMascara, placeholderChar: '\u2000', guide: false }" [(ngModel)]="transportadora.whatsapp" class="form-control" name="whatsapp" id="whatsapp">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="modalidade">Modalidade:</label>  
            <select #modalidade type="text" required [(ngModel)]="transportadora.modalidade" class="form-control" name="modalidade" id="modalidade">
              <option value="rodoviario">Rodoviário</option>
              <option value="aquaviario">Aquaviário</option>
              <option value="aereo">Aéreo</option>
            </select>
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="cep">Cep:</label>
            <input #cep type="text" [(ngModel)]="transportadora.cep" (keydown.Tab)="pesquisaCep(cep.value)" [textMask]="{mask: cepMascara, placeholderChar: '\u2000', guide: false }" class="form-control" name="cep" id="cep">
            <label class="control-label" for="estado">Estado:</label>
            <input #uf type="text" [(ngModel)]="transportadora.uf" class="form-control" name="estado" id="estado">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="cidade">Cidade:</label>
            <input #cidade type="text" [(ngModel)]="transportadora.cidade" class="form-control" name="cidade" id="cidade">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="bairro">Bairro:</label>
            <input #bairro type="text" required [(ngModel)]="transportadora.bairro" class="form-control" name="bairro" id="bairro">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="rua">Rua/Avenida:</label>
            <input #logradouro type="text" [(ngModel)]="transportadora.rua" class="form-control" name="rua" id="rua">
          </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <label class="control-label" for="numero">Número:</label>
            <input #numero type="text" required [(ngModel)]="transportadora.numero" class="form-control" name="numero" id="numero">
          </div>
      </div>
      <br>
      <div class="row" *ngIf='transportadora.id ? false : true'>
          <div class="col-md-6">
            <label>
              Eu aceito os termos de serviço <input #snAceitouTermos required type="checkbox" class="form-control alinha-check" name="snAceitouTermos" value="snAceitouTermos" id="snAceitouTermos"> 
            </label>
          </div>
      </div>
      <div class="row" *ngIf='transportadora.id ? false : true'>
        <div class="col-sm">
          <button type="submit" class="btn btn-success" (click)="salvarTransportadora()">Cadastrar-se agora!</button>
        </div>
      </div>
      <div class="row" *ngIf='transportadora.id ? true : false'>
        <div class="col-sm">
          <button type="submit" class="btn btn-success" (click)="atualizarTransportadora(transportadora.id)">Atualizar</button>
        </div>
      </div>
    </div>
  </div>
</form>